body{
    text-align: center;
    background-color: rgb(190, 191, 194);
    color: rgb(24, 28, 29);
}
button{
    cursor: pointer;
    background-color: rgb(170, 253, 184);
    border-radius: 10px;
    padding: 10px;
}
footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    background-color: darkgray;
}
main{
    width: 100%;
}