body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

main {
    width: 90%;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
}

form {
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
}

input,
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #999;
}

button {
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 4, 4);
}

.erro {
    color: red;
    margin-top: 10px;
}

#lista-metas {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#lista-metas li {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}